*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Arima Madurai';
}

.first{
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 20px;
    text-align: center;
    padding: 25px;
    background-color: white;
}

nav ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}

nav ul li{
    padding: 0px 20px;
}

.nav-bar{
    display: flex;
}

.nav-bar button{
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(239, 101, 101);
    border: none;
    position: absolute;
    margin-left: 550px;
    margin-top: -0.5rem;
}

body{
    background-image: url(leaves.jpg);
    background-size: 100%;
}

.one{
    position: relative;
    width: 600px;
    margin-left: 200px;
    margin-top: 95px;
    line-height: 2rem;
}

h1{
    padding: 4% 0;
    line-height: 5rem;
    font-size: 80px;
}

h4{
    color: rgb(239, 101, 101);
}

#btn1{
    padding: 8px 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(239, 101, 101);
    border: none;
    margin: 10px 5px 0px 0px;
}

#btn2{
    padding: 8px 30px;
    border-radius: 5px;
    color: black;
    border: solid;
    border-width: 1px;
    background-color: transparent;
}

footer{
    background-color: white;
    margin-top: 10rem;
    padding: 40px;
}

.foot{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}

#F2{
    margin-right: 300px;
    font-size: 35px;
}

#F1{
    font-size: 20px;
}